body {
    background: url(/assets/jaaj.png) fixed center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    background-color: grey;
    padding: 17px;

}


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

header>h1 {
    font-size: 100px;
    margin-block-end: 0px;
}

.main-input {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-block-end: 35px;

}

.but {
    background-color: #FFD6A7;
    border-radius: 50px;
    padding: 15px 25px;
    font-weight: bold;
}


.search-bar {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    width: 436px;
    height: 34px;
    border-radius: 15px;
    padding-inline-start: 17px;
    background-image: url(/assets/förstoringsglas.png);
    background-repeat: no-repeat;
    background-position: 7px 7px;
    padding-inline-start: 37px;
}

.search-bar:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.search-bar:focus {
    outline: none;
}


.h1-text {
    font-size: 26px;
    width: 450px;
    height: 30px;
    margin: 80px;
}


.drops {
    display: flex;
    justify-content: space-evenly;
}


.meal {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dish {
    width: 129px;
    height: 44px;
    border-radius: 10px;
    text-align: center;

}

.total {
    width: 129px;
    height: 44px;
    border-radius: 10px;
    text-align: center;

}


.restriction {
    width: 129px;
    height: 44px;
    border-radius: 10px;
    text-align: center;

}

.allergen {
    width: 129px;
    height: 44px;
    border-radius: 10px;
    text-align: center;

}


label {
    font-size: 25px;
    font-weight: 500px;
}