@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 4rem;
}

header>h1 {
    font-size: 2rem;
    margin-block-end: 0;
    font-weight: 400;
}

.h1-text {
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 1rem;
    font-weight: 400;
    width: 300px;
    padding-inline-start: 1.75rem;
    margin-block-start: 1rem;
    margin-block-end: 3rem;
    text-align: center;
}

.main-input {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-block-end: 0.5rem;
}


.mag-glass {
    position: relative;
    z-index: 100;
    left: 3.5rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    width: 400px;
    height: 34px;
    border-radius: 1rem;
    border: 0;
    padding-inline-start: 2rem;
    margin-inline-end: 0;
}

.but {
    position: relative;
    background-color: #FFD6A7;
    border-radius: 50px;
    padding: 12px 16px;
    border: none;
    font-weight: bold;
    margin-inline-start: 0;
    right: 1rem;
}

.search-bar:hover {
    cursor: text;
}

.search-bar:focus {
    outline: none;
}

.pills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: 0.25rem;
    margin-inline-end: 1.25rem;
}

.pills p {
    max-width: fit-content;
    margin: 0;
    margin-inline-end: 0.7rem;
    color: #7E634E;
    background: rgba(140, 93, 60, 0.25);
    border-radius: 0.6rem;
    border: 1px solid #B8AA9F;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 3px 16px 3px 7px;
    font-size: 10px;
    font-weight: 500;
}

.drops {
    display: flex;
    justify-content: space-evenly;
    gap: 1.2rem;
    text-align: center;
}

.meal {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.dish {
    width: 120px;
    height: 44px;
    border-radius: 2rem;
    text-align: center;
}

.total {
    width: 120px;
    height: 44px;
    border-radius: 10px;
    text-align: center;

}

.total {
    width: 120px;
    height: 43px;
    padding: 0;
    margin: 0;
    border-width: 1px;
    text-align: center;
    border-radius: 2rem;
}

.h2-all {
    font-size: 15px;
    font-weight: 400;
}

.restriction {
    width: 120px;
    height: 44px;
    border-radius: 2rem;
    text-align: center;
    padding: 0;
    margin: 0;
}

.allergen {
    width: 120px;
    height: 44px;
    border-radius: 2rem;
    text-align: center;
    padding: 0;
    margin: 0;

}

label {
    font-size: 1.5rem;
}

.priceintervall {
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    gap: 5rem;
    max-width: 50%;
}

.eyes-section {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-block-start: 0.75rem;
}

.eye {
    width: 1rem;
}

.price-description {
    display: flex;
    flex-direction: row;
    gap: 24%;
    margin-block-end: 0.75rem;
    margin-inline-start: 0;
}

.per {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: 400;
}

.company {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 10px;
    color: #003D63CC !important;
}

.customize {
    display: flex;
    justify-content: center;
}

.left-side-customize {
    padding: 9px;
    flex: 0 0 45%;
    max-width: 37%;
    margin-inline-start: 2rem;
}

.right-side-customize {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.checkbar[type="checkbox"] {
    width: 25px;
}

.ph {
    display: flex;
    font-family: Montserrat, sans-serif;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-inline-start: 7rem;
    margin-block-start: 2rem;
    padding-inline-start: 35px;
    padding-block-start: 35px;
}


.customheader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 55px;
    padding-block-start: 30px;
}

.customh2 {
    margin-block: 3%;
    font-weight: 500;
    font-size: 14px;
    font-size: 17px;
}

.customtext {
    color: rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 10px;
}

.divspan {
    display: flex;
    flex-direction: column;
    padding-inline-start: 60px;
}

.customdrop {
    padding-inline-start: 12px;
}

.price {
    flex: 1;
    padding-block-start: 14px;
    font-weight: 500;
    max-width: 70%;
    font-size: 16px;
}

#slider {
    height: 10px;
    background-color: none;
    color: none;
}

#slider .noUi-connect {
    background: none;
}

#slider .noUi-handle::before,
#slider .noUi-handle::after {
    display: none !important;
}

#slider .noUi-handle {
    width: 22px !important;
    height: 24px !important;
    background-image: url('/assets/stop.png') !important;
    height: 22px !important;
    background-image: url('/Recept/assets/stop.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
    border-radius: 15px !important;
}

/* Results */

.amount-of-results {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.amount-of-results p {
    margin-inline-start: 0.5rem;
    margin-inline-end: 1rem;
}

.amount-of-results label {
    margin-block-start: 2px;
    font-size: 15px;
}

.result-sort {
    border-radius: 16px;
    padding: 0.2rem
}

/* Card */

.result-item {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 262px;
    background-color: white;
    border-block-end: 1px solid grey;
}

.left-card {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card-title {
    display: flex;
    flex-direction: column;
    margin-inline-start: 1rem;
    margin-block-start: 1rem;
}

.card-title h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.card-title p {
    max-width: fit-content;
    color: #7E634E;
    background: rgba(140, 93, 60, 0.25);
    border-radius: 0.6rem;
    border: 1px solid #B8AA9F;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 3px 16px 3px 7px;
    font-size: 10px;
    font-weight: 600;
}

.card-head-ingredient {
    margin-inline-start: 0.7rem;
    margin-block-start: 0.5rem;
}

.card-head-ingredient p {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
}

.card-allergen {
    margin-inline-start: 0.7rem;
}

.card-allergen p {
    margin-block-end: 0.5rem;
    font-size: 15px;
    font-weight: 400;
}

.allergens {
    display: flex;
    flex-direction: row;
}

.allergens p {
    max-width: fit-content;
    margin: 0;
    margin-inline-end: 0.7rem;
    color: #7E634E;
    background: rgba(140, 93, 60, 0.25);
    border-radius: 0.6rem;
    border: 1px solid #B8AA9F;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 3px 16px 3px 7px;
    font-size: 10px;
    font-weight: 400;
}

.cross {
    padding-inline-end: 4px;
}

.card-ingredients {
    margin-inline-start: 0.7rem;
}

.card-ingredients p {
    font-size: 15px;
    font-weight: 400;
}

.right-card {
    margin-inline-start: 1rem;
    margin-inline-end: 0.5rem;
    margin-block: 0.5rem;
}

.right-card div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1%;
}

.bookmark {
    width: 21px;
    padding-block-end: 0.5rem;
}