*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>h1 {
    font-size: 50px;
    margin-block-end: 0px;
}

.h1-text {
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 26px;
    width: 320px;
    height: 20px;
    margin-block-end: 80px;
}


.main-input {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-block-end: 35px;

}

.but {
    background-color: #FFD6A7;
    border-radius: 50px;
    padding: 15px 25px;
    font-weight: bold;
}


.search-bar {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    width: 436px;
    height: 34px;
    border-radius: 15px;
    background-image: url(/assets/förstoringsglas.png);
    background-repeat: no-repeat;
    background-position: 7px 7px;
    padding-inline-start: 37px;
}

.search-bar:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.search-bar:focus {
    outline: none;
}

.h1-text {
    font-size: 26px;
    width: 440px;
    height: 30px;
    padding-inline-start: 25px;
    margin-block-end: 100px;
    margin-block-start: 25px;
    text-align: center;
}


.drops {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    text-align: center;
}

.meal {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.dish {
    width: 120px;
    height: 44px;
    border-radius: 10px;
    text-align: center;

}

.total {
    width: 120px;
    height: 44px;
    border-radius: 10px;
    text-align: center;

}

.total {
    width: 120px;
    height: 43px;
    padding: 0;
    margin: 0;

}

.h2-all {
    font-size: 15px;
}

.restriction {
    width: 120px;
    height: 44px;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    margin: 0;

}

.allergen {
    width: 120px;
    height: 44px;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    margin: 0;

}

label {
    font-size: 23px;

}

.priceintervall {
    display: flex;
    flex-direction: row;
    gap: 120px;
    flex: 0 0 50%;
    max-width: 50%;
}

.eyes-section {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-block-start: 12px;
    align-items: center;
}

.eye {
    width: 14px;
    height: 13px;
}

.price-description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 24%;
    margin-block-end: 5%;
}

.per {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding-inline-start: -5px;
}

.company {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 14px;
    color: #003D63CC !important;
}

.customize {
    display: flex;
    justify-content: center;
}

.left-side-customize {
    padding: 9px;
    flex: 0 0 45%;
    max-width: 45%;
}

.right-side-customize {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}


.checkbar[type="checkbox"] {
    width: 25px;
}

.ph {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-inline-start: 75px;
    padding-block-start: 55px;
}

.customh2 {
    margin-block: 3%;
}


.customtext {
    font-weight: 700;
    font-size: 12px;

}

.divspan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-inline-start: 60px;
}

.customdrop {
    padding-inline-start: 12px;
}


.price {
    flex: 1;
    padding-block-start: 12px;
    max-width: 70%;
    font-size: 16px;
}

#slider {
    height: 10px;
    background-color: none;
    color: none;
}

#slider .noUi-connect {
    background: none;


}

#slider .noUi-handle::before,
#slider .noUi-handle::after {
    display: none !important;
}

#slider .noUi-handle {
    width: 22px !important;
    height: 22px !important;
    background-image: url('/assets/stop.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border: none !important;
    box-shadow: none !important;
    cursor: pointer !important;
    border-radius: 15px !important;

}

/* Card */

.result-item {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 262px;
    background-color: white;
    border-block-end: 1px solid grey;
}

.result-item h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.result-item p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.left-card {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card-title {
    display: flex;
    flex-direction: column;
}

.card-title h3 {
    margin: 0;
    margin-block-start: 2rem;
}

.card-title p {
    max-width: fit-content;
    color: #7E634E;
    background: rgba(140, 93, 60, 0.25);
    border-radius: 8px;
    border: 1px solid #B8AA9F;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 3px 16px 3px 7px;
    font-size: 10px;
    font-weight: 600;
}

.card-head-ingredients p {
    margin: 1rem;
}

.allergens {
    display: flex;
    flex-direction: row;
}

.allergens p {
    max-width: fit-content;
    margin-inline-end: 0.7rem;
    color: #7E634E;
    background: rgba(140, 93, 60, 0.25);
    border-radius: 8px;
    border: 1px solid #B8AA9F;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 3px 16px 3px 7px;
    font-size: 10px;
    font-weight: 400;
}

.cross {
    padding-inline-end: 4px;
}

.right-card {
    margin-inline: 1rem;
    margin-block: 0.5rem;
}

.right-card div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1%;
}

.bookmark {
    width: 21px;
    padding-block-end: 0.5rem;
}