<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReceptBas</title>
    <link rel="stylesheet" href="style/style.css">
    <script type="importmap">
        {
            "imports": {
                "vue": "https://unpkg.com/vue@3.5.28/dist/vue.esm-browser.js"
            },
            "integrity": {
                "https://unpkg.com/vue@3.5.28/dist/vue.esm-browser.js": "sha384-Q3gg1uvxzo7j5a5zJyKw57OkLMyOhl1sGmQxxn63S3lsr8Ki3ACSKKSvK8zG//7D"
            }
        }
    </script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js"></script>

    <script type="module" src="scripts/javaoc.js"></script>

</head>

<body>
    <div class="container" id="app">

        <header>
            <h1>ReceptBas</h1>
            <p class="h1-text">Sök, anpassa och planera menyer för hela sällskapet.</p>
        </header>

        <div class="main-input">
            <input type="search" class="search-bar" name="search-result"
                placeholder="Sök efter recept, teman och blanda ingredienser...">

            <button class="but" @click="searchFunction">sök</button>
        </div>

        <div class="drops">

            <div class="meal">

                <h2 class="h2-all">Måltidstyp</h2>
                <label>
                    <select class="dish">
                        <option selected>Huvudrätt</option>
                        <option>Förätt</option>
                        <option>Efterätt</option>
                        <option>Tilltugg</option>
                    </select>
                </label>
            </div>

            <div class="meal">
                <h2 class="h2-all">Antal personer</h2>
                <input type="text" placeholder="Antal personer..." class="total">
            </div>

            <div class="meal">

                <h2 class="h2-all">Kostpreferens</h2>
                <label>

                    <select class="restriction">
                        <option selected>Peskitarian</option>
                        <option>Vegan</option>
                        <option>Kosher</option>
                        <option>Halal</option>
                        <option>Vegetarian</option>
                    </select>
                </label>
            </div>

            <div class="meal">

                <h2 class="h2-all">Allergen</h2>
                <label>

                    <select class="allergen">
                        <option selected>Gluten</option>
                        <option>Laktos</option>
                        <option>Mjölkprotein</option>
                        <option>Nötter</option>
                        <option>Skaldjur</option>
                    </select>
                </label>

            </div>
        </div>
        <div class="customize">

            <div class="left-side-customize">
                <div class="priceintervall">
                    <h2 class="price">Prisintervall</h2>
                    <div class="eyes-section">

                        <img class="eye" src="assets/eyes.png" alt="eyes">
                        <p>kr</p>
                    </div>
                </div>

                <div class="price-description">
                    <h3 class="per">Per Person</h3>
                    <h3 class="company">Hela Sällskapet</h3>
                </div>


                <div id="slider">
                </div>

            </div>
            <div class="right-side-customize">


                <div class="ph">

                    <input class="checkbar" type="checkbox">
                    <h2 class="customh2">Anpassningsbara rätter</h2>
                    <div class="divspan">

                        <span class="customtext">Vegetarisk version</span>
                        <br>
                        <span class="customtext">Glutenfriversion</span>
                    </div>
                    <img class="customdrop" src="assets/customdrop.png" alt="customdrop">

                </div>
            </div>
        </div>

        <div v-if="hasSearched" class="search-results">
            <div class="amount-of-results">
                <p>Din sökning gav {{ searchResults.length }} träffar</p>
                <label>
                    Sorteras på:
                    <select class="result-sort">
                        <option selected>Kräftsäsong</option>
                        <option>Kall</option>
                        <option>Varm</option>
                        <option>Snabblagad</option>
                        <option>Beställningsvaror</option>
                    </select>
                </label>
            </div>
            <div v-for="item in searchResults" :key="item.id" class="result-item">

                <div class="left-card">
                    <div class="card-title">
                        <h3>{{ item.title }}</h3>
                        <p><img :src="item.cross" alt="cross icon" class="cross">{{ item.dish }}</p>
                    </div>

                    <div class="card-head-ingredient">
                        <p>{{ item.headIngredientText }} {{ item.headIngredients }}
                            <img class="typeImage" :src="item.typeImage" :alt="item.typeTitle">
                        </p>
                    </div>

                    <div class="card-allergen">
                        <p>{{ item.allergenText }}</p>
                        <div class="allergens">
                            <p><img :src="item.cross" alt="cross icon" class="cross">{{ item.allergen1}}</p>
                            <p><img :src="item.cross" alt="cross icon" class="cross">{{ item.allergen2 }}</p>
                        </div>
                    </div>

                    <div class="card-ingredients">
                        <p>{{ item.ingredientText }} {{ item.ingredients }}</p>
                    </div>

                </div>
                <div class="right-card">
                    <div>
                        <img :src="item.bookmark" alt="bookmark icon" class="bookmark">
                        <img :src="item.image" alt="food">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


</html>